@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
body
{
	background: hsl(233, 47%, 7%);
}
#left
{
	width: 430px;
	height: 300px;
	background: hsl(244, 38%, 16%);
	margin-top: 150px;
	margin-left: 200px;
	padding: 50px;
	padding-left: 80px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
#right
{
	width: 470px;
	height: 400px;
	margin-top: -332px;
	margin-left: 481px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
}
.in{
	color: hsl(277, 64%, 61%);
	background: hsl(244, 38%, 16%);
}
.f_head
{
	font-family: 'Lexend Deca', sans-serif;
	font-weight: 700;
	font-size: 35px;
	background: hsl(244, 38%, 16%);
	color: white;
	display: inline-block;
	margin-bottom: 40px;
}
.f_body
{
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: hsla(0, 0%, 100%, 0.75);
	background: hsl(244, 38%, 16%);
	display: inline-block;
	opacity: .55;
	margin-bottom: 50px;
	word-spacing: 1px;
}
.f_foot
{
	font-size: 10px;
	background: hsl(244, 38%, 16%);
	color: hsla(0, 0%, 100%, 0.6);
	word-spacing: 76px;
	letter-spacing: 1px;
	display: inline-block;
}
.stats
{
	font-family: 'Lexend Deca', sans-serif;
	font-weight: 400;
	font-size: 25px;
	background: hsl(244, 38%, 16%);
	color: white;
	word-spacing: 85px;
}
a{
  background: #d505ff;
  display:inline-block;
  cursor: pointer;
}
img
{
	opacity: .55;
	width: 120%;
	height: 100%;
	object-fit: cover;
}
footer
{
	color: white;
	margin-top: 20px;
	font-family: 'Lexend Deca', sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	word-spacing: 2px;
}
.link{
	background: transparent;
	text-decoration: none;
	color: hsl(277, 64%, 61%);
}

@media screen
  and (min-width: 375px) 
  and (orientation: portrait){
  #right{
  width: 260px;
	height: 320px;
	margin-top: -560px;
	margin-left: -30px;
	overflow: hidden;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	overflow: hidden;
  }
  #left{
  width:	200px;
	height: 300px;
	background: hsl(244, 38%, 16%);
	margin-top: 300px;
	margin-left: 50px;
	padding: 30px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: center;
  }
.f_head
{
	font-family: 'Lexend Deca', sans-serif;
	font-weight: 700;
	font-size: 20px;
	background: hsl(244, 38%, 16%);
	color: white;
}
.f_body
{
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 10px;
	color: hsla(0, 0%, 100%, 0.75);
	background: hsl(244, 38%, 16%);
	opacity: .7;
	word-spacing: 1px;
}
.f_foot
{
	font-size: 10px;
	background: hsl(244, 38%, 16%);
	color: hsla(0, 0%, 100%, 0.6);
}
.stats
{
	font-family: 'Lexend Deca', sans-serif;
	font-weight: 400;
	font-size: 15px;
	background: hsl(244, 38%, 16%);
	color: white;
}
a{
  background: #d505ff;
  display:inline-block;
  cursor: pointer;
}
img
{
	opacity: .6;
	width: 120%;
	height: 100%;
	object-fit: cover;
}
footer
{
	font-size: 10px;
	color: white;
	margin-top:290px;
	font-family: 'Lexend Deca', sans-serif;
	letter-spacing: 1px;
	word-spacing: 2px;
	padding-top: 10px;
}
.link{
	background: transparent;
	text-decoration: none;
	color: hsl(277, 64%, 61%);
	padding-top: 10px;
}
}